body {
    padding-top: 54px;
    background: rgba(128, 128, 128, 0.1);
  }



  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }

  .sharp {
    border-radius: 0 !important;
  }


  .carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-indicators li {
    display: inline-block;
    width: 30px;
    height: 5px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    /* border-radius: 50%; */
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.carousel-indicators .active {
    /* width: 20px; */
    /* height: 20px; */
    margin: 10px;
}

.shadow {
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.5);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.5);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.5);
}

.card {
  display:inline-block;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.5);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.5);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.5);
}

.list-group {
  -webkit-box-shadow: -5px 3px 5px 2px rgba(57, 63, 72, 0.5);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    -5px 3px 5px 2px rgba(57, 63, 72, 0.5);  /* Firefox 3.5 - 3.6 */
  box-shadow:         -5px 3px 5px 2px rgba(57, 63, 72, 0.5);
}

.list-group-item:hover {
  background-color: rgb(177, 177, 177);
  cursor: pointer;
}


.card > img {
  height: 192px;
  width: 290px;
  /* max-width: 100%; */
}

.item-card {
  width: 100%;
}

.item-card > img {
  /* width: 100%; */
  /* max-width: 100%; */
}

.item-card {
  width:100%;
}

.items-container {
  width: 100%;
}

.active-items {
  display: flex;
}

.inactive-items {
  display: none;
}

.news-section {
  background-color: rgba(0, 0, 0, 0.05);
  padding-bottom: 50px;
}

/* border between picture and category/item name */
.card-body {
  border-top: 1px solid #ddd;
  padding: 5px;
  font-size: 0.83em;
  /* font-weight: bold; */
}

.card-title {
  font-size: 16px;
}

.news-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.news-card {
  white-space: normal;
  width: 20rem;
  /* background: transparent; */
}

.footer-info {
  color:white;
  list-style: none;
  font-size: 18px;
  padding: 0;
}

.social-list {
  list-style: none;
  text-align: center;
  padding: 0;
}

.social-list li {
  margin: 5px;
  padding: 20px;
  display:inline-block;
  font-size: 25px;
  /* border: solid 2px rgba(255, 255, 255, 0.486); */
}

.social-list li:hover {
  background: rgba(255, 255, 255, 0.753);
}

.social-list li:hover .soc-fb {
  color: #3b5998;
}

.social-list li:hover .soc-tw {
  color: #00aced;
}

.social-list li:hover .soc-ig {
  color: #cd486b;
}

.social-list li:hover .soc-yt {
  color: red;
}

@media (max-width: 850px) {
  .categories-container {
    margin-top: 10px;
  }
  .card {
    margin-top: 3px;
  }
  .card > img {
    /* width: 150px; */
  }
}

