@import "~bootstrap/scss/functions";
@import "custom";
@import "~bootstrap/scss/bootstrap";

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.item-card {
    border-top: solid 3px $primary-color;
}

.carousel-indicators .active {
    background-color: transparentize($primary-color, 0.3);    
}

.active-category {
    background: $primary-color;
    color: white;
}